<!-- Botão primário -->
<a xmlns:th="http://www.thymeleaf.org" th:fragment="botaoPrimario(url, texto)"
       th:href="${url}"
       class="btn btn-primary">
        <span th:text="${texto}">Botão</span>
    </a>

<!-- Botão secundário -->
<a xmlns:th="http://www.thymeleaf.org" th:fragment="botaoSecundario(url, texto)"
       th:href="${url}"
       class="btn btn-secondary">
        <span th:text="${texto}">Botão</span>
    </a>

<!-- Botão de sucesso -->
<a xmlns:th="http://www.thymeleaf.org" th:fragment="botaoSucesso(url, texto)"
       th:href="${url}"
       class="btn btn-success">
        <span th:text="${texto}">Botão</span>
    </a>

<!-- Botão de perigo -->
<a xmlns:th="http://www.thymeleaf.org" th:fragment="botaoPerigo(url, texto)"
       th:href="${url}"
       class="btn btn-danger">
        <span th:text="${texto}">Botão</span>
    </a>
