<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<a th:fragment="botaoPrimario(href, texto)" th:href="${href}" class="btn btn-primary">-->
<!--    <span th:text="${texto}">Texto do Botão</span>-->
<!--</a>-->

<!--<button th:fragment="botaoSubmit(texto)" type="submit" class="btn btn-success">-->
<!--    <span th:text="${texto}">Enviar</span>-->
<!--</button>-->

<!--<a th:fragment="botaoVoltar(href)" th:href="${href}" class="btn btn-secondary">-->
<!--    <i class="fas fa-arrow-left"></i> Voltar-->
<!--</a>-->
<!--</body>-->
<!--</html>-->